{% extends "user/base.html" %}

{% block head_content %}
<title>Nora's Sign Up</title>
{% endblock %}

{% block container %}
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="Username" name="username" required="true" />
            <label for="floatingInput">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="password" placeholder="Password" name="password" required="true" />
            <label for="floatingInput">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="password" placeholder="Password confirmation" name="password_confirmation" required="true" />
            <label for="floatingInput">Verify Password</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="First name" name="first_name" required="true" />
            <label for="floatingInput">First Name</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="text" placeholder="Last name" name="last_name" required="true" />
            <label for="floatingInput">Last Name</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="email" placeholder="eMail address" name="email" required="true" />
            <label for="floatingInput">Email address</label>

        </div>

        <button class="btn btn-primary btn-block mt-5" type="submit">Register!</button>

    </form>
{% endblock %}
